{% extends "base.html" %}

{% block content %}
    <div class="col-md-6 offset-md-3 card shadow p-4">
        <h1>Register</h1>
        <hr />
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Your form has errors.
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            {{form.as_p}}
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-secondary">Register</button>
                <p class="text-center">Already have an account? <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'home' %}">Login</a></p>
            </div>
        </form>
    </div>
{% endblock content %}